@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var name = "Prabhnoor Singh";
    var studentNumber = "101415063";
    var courseCode = "T197";
    var courseSchedule = "COMP2139 - Tuesdays";
    var term = "4th Semester";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>About me!</title>
</head>

<body>
    <h1>Welcome to my Home Page<i class="fa-solid fa-user-secret"></i></h1>
    <p>Name: @name</p>
    <p>Student ID: @studentNumber</p>
    <p>Course Code : @courseCode</p>
    <p>Course Schedule: @courseSchedule</p>
    <p>Term : @term</p>
</body>
</html>
